/* =======================
   FONTS - Lithos
   ======================= */

@font-face {
    font-family: "Lithos";
    src: url("/public/typo/lithosextralight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lithos";
    src: url("/public/typo/lithoslight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lithos";
    src: url("/public/typo/lithos.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lithos";
    src: url("/public/typo/lithosbold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lithos";
    src: url("/public/typo/lithosblack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* -----------------------------------
   RESET + GRID
----------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Lithos", sans-serif;
    font-weight: 400;
    background: #d04445;
    color: #000;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    height: auto;
}

/* Utilitaires pour placer les sections dans la grille */
section,
footer {
    grid-column: 1 / -1;
    width: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
}

/* -----------------------------------
   HERO
----------------------------------- */
.hero {
    position: relative;
    width: 100%;
    min-height: 400px;
    overflow: hidden;
    display: block;
}

.hero-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: absolute;
    inset: 0;
}

.hero-logo {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 200px;
    height: auto;
}

.hero-content {
    position: absolute;
    z-index: 10;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 2rem 2rem 0rem 2rem;
}


/* réseaux sociaux */
.hero-social {
    display: flex;
    gap: 1rem;
    grid-column: 8 / 13;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc((100% / 13) * 1.5);
    align-self: end;
}

.social_link {
    color: #fff;
    font-size: 1.8rem;
    transition: transform 0.3s ease;
}

.hero-social p {
    color: #fff;
    font-size: 0.9rem;
    margin: 0;
    line-height: 1.8rem;
}

.social_link:hover,
.social_link:focus-visible {
    transform: scale(1.1);
}

/* -----------------------------------
   CONSTRUCTION
----------------------------------- */
.construction {
    grid-column: 1 / -1;
    width: 100%;
    overflow: hidden;
    display: block;
}

.construction video {
    width: 100%;
    height: auto;
    display: block;
}

/* -----------------------------------
   RESPONSIVE
----------------------------------- */
@media (max-width: 1099px) {
    .hero-nav {
        display: none;
    }

    .hero-social {
        grid-column: 8 / 13;
        justify-content: flex-start;
        margin-left: calc((100% / 13) * 1.5);
    }
}

@media (max-width: 899px) {

    .hero-logo {
        width: 150px;
    }

    .hero-social {
        grid-column: 1 / -1;
        justify-content: flex-end;
        margin-left: 0;
    }

    .hero-social p {
        font-size: 0.8rem;
    }
}

@media (max-width: 599px) {
    .hero {
        min-height: 300px;
    }

    .hero-image {
        height: 300px;
    }

    .hero-logo {
        width: 100px;
    }


    .social_link {
        font-size: 1.4rem;
    }

    .hero-social p {
        font-size: 0.7rem;
    }
}
